<%  @page_title = "予定表" %>
<h1><%=  @page_title %></h1>

<p><%= link_to "予定の新規登録", :new_calendar_item  %></p>
<p>
<%= link_to "仕事", "categories/1/calendar_items" %>
<%= link_to "家事", "categories/2/calendar_items" %>
<%= link_to "趣味", "categories/3/calendar_items" %>
<%= link_to "その他", "categories/4/calendar_items" %>
</p>

<%= render "list" %>
